<body class="layout" data-view="layout#body" id="top">
    <div class="layout_layer" data-view="layout#layout">
        <main class="layout-main">
            <header class="page_title-wrapper">
                <div class="page_title has-free_height">
                    <div class="page_title-container">
                        <h1 class="page_title-title">Essential HTML5 Interview Questions&nbsp;<a href="#note" class="link">*</a>
                        </h1>        
                    </div> 
                </div>
            </header>
            <section class="interview_questions_list">
                <div class="interview_questions_list-inner">
                    <div class="interview_question" data-view="ui#toggle" id="question-73">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What were some of the key goals and motivations for the HTML5 specification?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-73" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>HTML5 was designed to replace both HTML 4, XHTML, and the HTML DOM Level 2.</p>

                                <p>Major goals of the <a href="http://www.w3.org/TR/html5/" target="_blank" rel="noopener noreferrer">HTML specification</a> were to:</p>

                                <ul>
                                    <li>Deliver rich content (graphics, movies, etc.) without the need for additional plugins (e.g., Flash).</li>
                                    <li>Provide better semantic support for web page structure through the introduction of new structural element tags.</li>
                                    <li>Provide a stricter parsing standard to simplify error handling, ensure more consistent cross-browser behavior, and simplify backward compatibility with documents written to older standards.</li>
                                    <li>Provide better cross-platform support (i.e., to work well whether running on a PC, Tablet, or Smartphone).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-74">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What are some of the key new features in HTML5?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-74" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>Key new features of HTML5 include:</p>

                                <ul>
                                    <li>
                                        <p>Improved support for embedding graphics, audio, and video content via the new <a href="http://www.w3schools.com/tags/tag_canvas.asp" target="_blank" rel="noopener noreferrer"><code>&lt;canvas&gt;</code></a>, <a href="http://www.w3schools.com/tags/tag_audio.asp" target="_blank" rel="noopener noreferrer"><code>&lt;audio&gt;</code></a>, and <a href="http://www.w3schools.com/tags/tag_video.asp" target="_blank" rel="noopener noreferrer"><code>&lt;video&gt;</code></a> tags.</p>
                                    </li>
                                    <li>
                                        <p>Extensions to the JavaScript API such as <a href="http://www.w3schools.com/html/html5_geolocation.asp" target="_blank" rel="noopener noreferrer">geolocation</a> and <a href="http://www.w3schools.com/html/html5_draganddrop.asp" target="_blank" rel="noopener noreferrer">drag-and-drop</a> as well for <a href="http://www.w3schools.com/html/html5_webstorage.asp" target="_blank" rel="noopener noreferrer">storage</a> and <a href="http://www.w3schools.com/html/html5_app_cache.asp" target="_blank" rel="noopener noreferrer">caching</a>.</p>
                                    </li>
                                    <li>
                                        <p>Introduction of <a href="http://www.w3schools.com/html/html5_webworkers.asp" target="_blank" rel="noopener noreferrer">“web workers”</a>.</p>
                                    </li>
                                    <li>
                                        <p>Several new semantic tags were also added to complement the structural logic of modern web applications. These include the <code>&lt;main&gt;</code>, <code>&lt;nav&gt;</code>, <code>&lt;article&gt;</code>, <code>&lt;section&gt;</code>, <code>&lt;header&gt;</code>, <code>&lt;footer&gt;</code>, and <code>&lt;aside&gt;</code> tags.</p>
                                    </li>
                                    <li>
                                        <p>New form controls, such as <code>&lt;calendar&gt;</code>, <code>&lt;date&gt;</code>, <code>&lt;time&gt;</code>, <code>&lt;email&gt;</code>, <code>&lt;url&gt;</code>, and <code>&lt;search&gt;</code>.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-75">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What are “web workers”?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-75" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p><a href="http://www.w3schools.com/html/html5_webworkers.asp" target="_blank" rel="noopener noreferrer">Web workers</a> at long last bring multi-threading to JavaScript.</p>

                                <p>A web worker is a script that runs in the background (i.e., in another thread) without the page needing to wait for it to complete. The user can continue to interact with the page while the web worker runs in the background. Workers utilize thread-like message passing to achieve parallelism.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-76">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>How do you indicate the character set being used by an HTML5 document? How does this differ from older HTML standards?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-76" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>In HTML5, the encoding used can be indicated with the <code>charset</code> attribute of a <code>&lt;meta&gt;</code> tag inside the document’s <code>&lt;head&gt;</code> element:</p>

                                <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
...
&lt;meta charset="UTF-8"&gt;
...
&lt;/head&gt;
...
&lt;/html&gt;
</code></pre>

                                <p>This is a slightly simpler syntax from older HTML standards, which did not have the <code>charset</code> attribute. For example, an HTML 4.01 document would use the <code>&lt;meta&gt;</code> tag as follows:</p>

                                <pre><code>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
  &lt;head&gt;
    ...
    &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
    ...
  &lt;/head&gt;
  ...
&lt;/html&gt;
</code></pre>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-77">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>Discuss the differences between an HTML <strong>specification</strong> and a browser’s <strong>implementation</strong> thereof.</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-77" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>HTML specifications such as HTML5 define a set of rules that a document must adhere to in order to be “valid” according to that specification. In addition, a specification provides instructions on how a browser must interpret and render such a document.</p>

                                <p>A browser is said to “support” a specification if it handles valid documents according to the rules of the specification. As of yet, no browser supports all aspects of the HTML5 specification (although all of the major browser support <em>most</em> of it), and as a result, it is necessary for the developer to confirm whether the aspect they are making use of will be supported by all of the browsers on which they hope to display their content. This is why cross-browser support continues to be a headache for developers, despite the improved specificiations.</p>

                                <p>In addition, while HTML5 defines some rules to follow for an invalid HTML5 document (i.e., one that contains syntactical errors), invalid documents may contain anything, and it is impossible for the specification to handle all possibilities comprehensively. Thus, many decisions about how to handle malformed documents are left up to the browser.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-78">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>Briefly describe the correct usage of the following HTML5 semantic elements: <code>&lt;header&gt;</code>, <code>&lt;article&gt;</code>, <code>&lt;section&gt;</code>, <code>&lt;footer&gt;</code>.</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-78" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>The <code>&lt;header&gt;</code> element is used to contain introductory and navigational information about a section of the page. This can include the section heading, the author’s name, time and date of publication, table of contents, or other navigational information.</p>

                                <p>The <code>&lt;article&gt;</code> element is meant to house a self-contained composition that can logically be independently recreated outside of the page without losing it’s meaining. Individual blog posts or news stories are good examples.</p>

                                <p>The <code>&lt;section&gt;</code> element is a flexible container for holding content that shares a common informational theme or purpose.</p>

                                <p>The <code>&lt;footer&gt;</code> element is used to hold information that should appear at the end of a section of content and contain additional information about the section. Author’s name, copyright information, and related links are typical examples of such content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-79">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>Can a <code>&lt;section&gt;</code> contain <code>&lt;article&gt;</code> elements? Can an <code>&lt;article&gt;</code> contain <code>&lt;section&gt;</code> elements? Provide usage examples.</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-79" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>The answer to both questions is yes; i.e., a <code>&lt;section&gt;</code> can contain <code>&lt;article&gt;</code> elements, and an <code>&lt;article&gt;</code> can contain <code>&lt;section&gt;</code> elements.</p>

                                <p>For example, a personal dashboard page might contain a <code>&lt;section&gt;</code> for social network interactions as well as a <code>&lt;section&gt;</code> for the latest news articles, the latter of which could contain several <code>&lt;article&gt;</code> elements.</p>

                                <p>Conversely, an <code>&lt;article&gt;</code> might contain a <code>&lt;section&gt;</code> at the end for reader comments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-80">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>Can a web page contain multiple <code>&lt;header&gt;</code> elements? What about <code>&lt;footer&gt;</code> elements?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-80" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>Yes to both. In fact, both the <code>&lt;header&gt;</code> and <code>&lt;footer&gt;</code> tags are designed to serve their respective purposes in relation to whatever their parent “section” may be. So not only can the page <code>&lt;body&gt;</code> contain a header and a footer, but so can every <code>&lt;article&gt;</code> and <code>&lt;section&gt;</code> element. In fact, a <code>&lt;header&gt;</code> should be present for all of these, although a <code>&lt;footer&gt;</code> is not always necessary.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-81">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>Describe the relationship between the <code>&lt;header&gt;</code> and <code>&lt;h1&gt;</code> tags in HTML5.</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-81" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>In previous specifications of HTML, only one <code>&lt;h1&gt;</code> element was typically present on a page, used for the heading of the entire page. HTML5 specifies that <code>&lt;h1&gt;</code> represents the top-level heading of a “section”, whether that be the page <code>&lt;body&gt;</code>, or an <code>&lt;article&gt;</code> or <code>&lt;section&gt;</code> element. In fact, every <code>&lt;header&gt;</code> element should at least contain an <code>&lt;h1&gt;</code> element. If there is no natural heading for the section, it is a good indication it should not use an <code>&lt;article&gt;</code> or <code>&lt;section&gt;</code> tag.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-82">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>Give a simple implementation of the <code>&lt;video&gt;</code> tag to embed a video stored at <code>http://www.example.com/amazing_video.mp4</code>. Give the video a width of 640 pixels by 360 pixels. Provide the user with controls.</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-82" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>Here is one simple implementation:</p>

                                <pre><code>&lt;video src="http://www.example.com/amazing_video.mp4" width="640" height="360" controls&gt;&lt;/video&gt;
</code></pre>

                                <p>Alternatively, the source file may be indicated with a separate <code>&lt;source&gt;</code> tag inside the <code>&lt;video&gt;</code> element, as in:</p>

                                <pre><code>&lt;video width="640" height="360" controls&gt;
  &lt;source src="http://www.example.com/amazing_video.mp4"&gt;
&lt;/video&gt;
</code></pre>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-83">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>Write the code necessary to create a 300 pixel by 300 pixel <code>&lt;canvas&gt;</code>. Within it, paint a blue 100 pixel by 100 pixel square with the top-left corner of the square located 50 pixels from both the top and left edges of the canvas.</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-83" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>Here is one simple implementation:</p>

                                <pre><code>&lt;canvas id="c" width="300" height="300"&gt;&lt;/canvas&gt;

&lt;script&gt;
  var canvas = document.getElementById( "c" );
  var drawing_context = canvas.getContext( "2d" );
  drawing_context.fillStyle = "blue";
  drawing_context.fillRect( 50, 50, 100, 100 );
&lt;/script&gt;
</code></pre>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-85">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What is HTML5 Web Storage? Explain localStorage and sessionStorage.</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-85" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>With HTML5, web pages can store data locally within the user’s browser.</p>

                                <p>Earlier, this was done with cookies. However, Web Storage is more secure and faster. The data is not included with every server request, but used ONLY when asked for.</p>

                                <p>The data is stored in name/value pairs, and a web page can only access data stored by itself. Unlike cookies, the storage limit is far larger (at least 5MB) and information is never transferred to the server.</p>

                                <p>The difference between localStorage and sessionStorage involves the lifetime and scope of the storage.</p>

                                <p>Data stored through localStorage is permanent: it does not expire and remains stored on the user’s computer until a web app deletes it or the user asks the browser to delete it. SessionStorage has the same lifetime as the top-level window or browser tab in which the script that stored it is running. When the window or tab is permanently closed, any data stored through sessionStorage is deleted.</p>

                                <p>Both forms of storage are scoped to the document origin so that documents with different origins will never share the stored objects. But sessionStorage is also scoped on a per-window basis. If a user has two browser tabs displaying documents from the same origin, those two tabs have separate sessionStorage data: the scripts running in one tab cannot read or overwrite the data written by scripts in the other tab, even if both tabs are visiting exactly the same page and are running exactly the same scripts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-519">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What is the difference between <code>span</code> and <code>div</code>?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-519" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>The difference is that <code>span</code> gives the output with <code>display: inline</code> and div gives the output with <code>display: block</code>.</p>

                                <p><code>span</code> is used when we need our elements to be shown in a line, one after the other.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-584">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What is the Geolocation API in HTML5?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-584" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>HTML5’s Geolocation API lets users share their physical location with chosen web sites. JavaScript can capture a user’s latitude and longitude and can send it to the back-end web server to enable location-aware features like finding local businesses or showing their location on a map.</p>

                                <p>Today, most browsers and mobile devices support the Geolocation API. The Geolocation API works with a new property of the global <code>navigator</code> object.</p>

                                <p>A Geolocation object can be created as follows:</p>

                                <pre><code class="language-js hljs"><span class="hljs-keyword">var</span> geolocation = navigator.geolocation;
</code></pre>

                                <p>The <code>geolocation</code> object is a service object that allows widgets to retrieve information about the geographic location of the user’s device.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-586">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What’s one main result if you do not specify a <code>doctype</code> in an HTML page?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-586" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>New HTML5-specific tags will not be interpreted by the browser.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_question" data-view="ui#toggle" id="question-590">
                        <div class="interview_question-question" data-role="trigger"><img alt="question badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            <div class="interview_question-content for-question content_body" data-view="shared#content_body">
                                <p>What’s the difference between the <code>&lt;svg&gt;</code> and <code>&lt;canvas&gt;</code> elements?</p>
                            </div>
                            <div class="interview_question-question_footer"><a class="interview_question-view_link" rel="noopener noreferrer">View the answer →</a><a class="interview_question-hide_link" rel="noopener noreferrer">Hide answer</a>
                                <div class="interview_question-share_links" data-text="Essential HTML5 Interview Questions" data-title="Toptal HTML5 Interview Questions" data-url="https://www.toptal.com/html5/interview-questions#question-590" data-view="shared#social_share">
                                    <a class="interview_question-share_link is-facebook" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;facebook&quot;}" data-type="facebook" rel="noopener noreferrer"></a>
                                    <a class="interview_question-share_link is-twitter" data-role="link" data-track-click="SocialShareButtonClicked" data-track-default-data="{&quot;network&quot;:&quot;twitter&quot;}" data-type="twitter" rel="noopener noreferrer"></a>
                                </div>
                            </div>
                        </div>
                        <div class="interview_question-answer" data-view="shared#content_body"><img alt="answer badge" class="interview_question-badge" src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/answer_badge_dc4c6f.png">
                            <div class="interview_question-content content_body is-small">
                                <p>The <code>&lt;svg&gt;</code> element is a container for SVG graphics. SVG has several methods for drawing paths, boxes, circles, text, and even bitmap images.</p>

                                <p>SVG is a language for describing 2D graphics, but <code>&lt;canvas&gt;</code> allows you to draw 2D graphics on the fly using JavaScript.</p>

                                <p>SVG is XML-based, which means that every element is available within the SVG DOM. You can attach JavaScript event handlers for an element.</p>

                                <p>In SVG, each drawn shape is remembered as an object. If attributes of an SVG object are changed, the browser can automatically re-render the shape.</p>

                                <p>Canvas is rendered pixel by pixel. In canvas, once the graphic is drawn, it is forgotten by the browser. If its position should be changed, the entire scene needs to be redrawn, including any objects that might have been covered by the graphic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="interview_questions_list-note" id="note">* There is more to interviewing than tricky technical questions, so these are intended merely as a guide. Not every “A” candidate worth hiring will be able to answer them all, nor does answering them all guarantee an “A” candidate. At the end of the day, <a href="/freelance/in-search-of-the-elite-few-finding-and-hiring-the-best-developers-in-the-industry">hiring remains an art, a science — and a lot of work</a>.</div>
                </div>
            </section>
        </main>
        <footer class="hide_in_webview page_footer_wrapper">
        </footer>
        <div></div>
    </div>